<ion-card>
  <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage"></ion-img>
  
  <ion-card-header>
    <ion-card-subtitle>{{ noticia.author }}</ion-card-subtitle>
    <ion-card-title>{{ noticia.title }}</ion-card-title>

    <div class="noticias-more">
      <ion-button fill="clear" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-card-header>
  
  <ion-card-content>
    {{ noticia.content }}
  </ion-card-content>
  
</ion-card>
