<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-segment scrollable mode="md" (ionChange)="changeCategory($event)">
    
    <ion-segment-button *ngFor="let categoria of categorias" 
                        [value]="categoria" 
                        mode="md">
      <ion-label>{{ categoria }}</ion-label>
    </ion-segment-button>
  
  </ion-segment>

  <app-noticias [articles]="noticias"></app-noticias>

</ion-content>
