<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let noticia of articles" size="12" size-lg="3" size-md="4" size-sm="6" size-sx="12">
        
        <ion-card>
          <ion-img [src]="noticia.urlToImage"></ion-img>
          
          <ion-card-header>
            <ion-card-subtitle>{{ noticia.author }}</ion-card-subtitle>
            <ion-card-title>{{ noticia.title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ noticia.content }}
          </ion-card-content>
        </ion-card>

        <ion-item-divider></ion-item-divider>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
